@import "nib"

#highlights {
  overflow: hidden;
  width: 100%;
  height: 100%;


  img.up, img.down{
    height: 30px;
    width: 55px;
    padding: 24px;
  }

  a.up, a.down {
    margin: auto;
    left: 50%;
    right: 50%;
    position: absolute;
    z-index: 1000000;
    cursor: pointer;
    margin-left: -48px;
    border: rgba(0,0,0,0); 
  }

  a.up{
    top: 100px;
  }

  a.down{
    bottom: 0px;
  }

  .photo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
  }

  .details {
    position: absolute;
    left: 40px; 
    bottom: 40px;
    width: auto;
    color: #fff !important;
    background-color: rgba(0,0,0,0);

    .user {
      float: left;
      margin-bottom: 8px;
    }
    .pictureView {
      float: right;
      margin-bottom: 8px;
    }
    .title, .subtitle, .url {
      clear: left;
      float: left;
    }
    .url{
      background-color: #0061ab;
      padding: 2px 8px;
    }
    .title {
      font-size: 3.2em;
      font-weight: bold;
      line-height: 1.2em;
      background-color: rgba(25,77,121,0.7);
      padding: 0px 16px 0px 13px;
      margin-top: 4px;
    }
    .subtitle {
      font-size: 2em;
      line-height: 1.2em;
      font-weight: bold;
      background-color: rgba(255,255,255,0.7);
      padding: 0px 12px 0px 11px;
      margin-top: 4px;
      color: #111;
    }

  }
  a:hover .details {
    .url {
      text-decoration: underline;
    } 
  }

  
}

/* adjustments for Onpage plugin */

.onepage-pagination li a {
  padding: 0px;
  width: 23px;
  height: 32px;
  display: block;
}

.onepage-pagination li a.active:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  left: 3px;

}

.onepage-pagination li a:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 0px;
  margin: 0px;
  left: 3px;

}

.onepage-pagination {
  &.draggable a {
    cursor: move;
  }
}


/*

.onepage-pagination li a.active:before {
width: 16px;
height: 16px;
background: none;
border: 2px solid white;
margin-top: -8px;
left: 8px;
}
.onepage-pagination li a:before {
content: '';
position: absolute;
width: 6px;
height: 6px;
background: rgba(255,255,255,0.85);
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
*/