@import "nib"

/* 
  Style Helper Functions
  Call this functions in other .styl files within the CSS selector.
*/

glow() {
  border: 2px solid #fff;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .5);
}



.clear {
  clear: both;
}