@import 'nib'

$pagePaddingHeight = 20px;
$pagePaddingWidth = 40px;


html, body{
  /*background-color: #84a3c0;*/
  font-family: 'open sans';
  position: relative;
  margin: 0;
  padding: 0px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-size: cover;
  background-attachment:fixed;
  color: white;
  /*background-image:linear-gradient(white, #1b3a4b) !important;*/
}

.clear {
  clear: both;
}


/* wrapper around all */

.wrapper {
	width: 100%;
	height: 100%;
  overflow: auto;
}

.page {
  padding: $pagePaddingHeight $pagePaddingWidth; 
}
.page-space {
  height: 100px;
}


#iron-router-progress {
  background-color: #fff;
}
#iron-router-progress.spinner:before {
    border-color : #fff;
}



/* text links */

a {
  text-decoration: none;
  color: #FFF;
  margin: 0px 2px 0px 2px;
}

a:hover{
  text-decoration: none;
  color: #ffea87;
  /*border-bottom: 2px dotted #1466a8;
  margin-bottom: -5px;*/
}

a img {
  text-decoration: none;
  border:0px;
}

.small{
  font-size:10px;
}

::selection {
  background: #fff9d0;
}

/* bootstrap alerts */

.alert{
  border-radius: 0px;
  border: 0px;
  background-color: transparent;
  margin: auto !important;
  color: #333;
  padding-left: 32px;
  padding-bottom: 20px;
}

.alert h1 {
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.alert p {
  line-height: 23px;
}

.main-alerts {
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  .alert {
    width: 550px;
    margin-left: 200px;
  }
}

.error{
  color: orange;
  font-weight: 700;
}


/* page transition effects on outer most div containing the current page */

#mainWrapper > .route-transition {
  transition: transform 0.8s ease-out, opacity 0.7s ease-out;
  transform: scale(0.7);
  opacity: 0.01;
  &.activated {
    transform: scale(1.0);
    opacity: 1.0;
  }
}


/* HEADER */

$headerHeight = 105px;

#header {
  width: 100%;
  height: $headerHeight;
  overflow: visible;
  position: relative;
  z-index: 2;

  .floating {
    position: fixed;
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: $headerHeight;

    .background {
      position: absolute;
      z-index: 2;
      left: 0px;
      top: 0px;
      width: 100%;
      height: $headerHeight;
      background-color: rgba(0,0,0,0.4);
    }

    .content {
      position: relative;
      z-index: 3;
      padding: $pagePaddingHeight $pagePaddingWidth;
    }

    .logo-small {
      float: left;
      height: 63px;
      width: 190px;
      background-image: url('/img/logo-inversed.svg');  
    }
  }

  /* transition */
  transition: height 0.4s 0s ease-out;
  .floating {
    transition: transform 0.4s 0.4s ease-out;
    transform: translateY(-($headerHeight));
    .background {
      transition: background-color 0.7s 0.4s ease-out;
    }
  }
  &.active {
    .floating {
      transform: translateY(0px)
    }
  }

}

#header.fixed {
  height: 0px;
}





/* menu */

.menu{
  float: left;
  padding-top: 24px;
  padding-left: 48px;
  font-size: 18px;
  font-weight: 700;
}

a.menu {
  text-decoration: none;
  color: #eee;
  margin: 0px;
  padding: 0px 8px 0px 8px;
  float: none;
  padding-top: 12px;
  margin-top: -12px;
  padding-bottom: 12px;
  margin-bottom: -12px;
}

a.menu:hover{
  text-decoration: none;
  color: #fff; 
  transition: color 0.7s 0.4s;
  /*border-bottom: 2px dotted #1466a8;
  margin-bottom: -5px;*/
}



/* karma + user menu */

#header {

  .account {
    float: right;
  }

  .karma{
    font-size: 1.8em;
    float: left;
    margin-top: 27px;
    margin-right: 24px;
  }

  .dropdown {
    float: right;
  }

  .dropdown-toggle {
    padding: 0px;
    margin: 0px;
  }

  .dropdown-menu {
    left: -110px;
    margin-top: -13px;
  }

  .icon-user, .icon-remove, .icon-gift{
    margin-top: 3px;
  }

}








/* FRONTPAGE */

#frontpage h1, 
#frontpage h2 {
  width: 100%;
  float: left;
}
#frontpage h1 {
  color: #FFF;
  margin-bottom: 5px;
  font-size: 60px;
  letter-spacing: 0px;
  font-weight: 100;
  line-height: 140%;
}
#frontpage h2 {
  color: #6D461D;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

#frontpage {
  text-align: center;
  margin-top: 60px;
}

#cursor{
  font-weight: 100;
}

#target, .blink{
  color:#FFF;
  font-weight: 700;
}

.logo-large{
  height: 140px;
  width: 550px;
  margin: auto;
  background: url('/img/logo.svg') no-repeat;
  background-size: 100%;
  border-left: 64px solid rgba(0,0,0,0);
}

.frontpage-login{
  height: 100px;
  width: 700px;
  margin: auto;
  margin-bottom: 48px;
  margin-top: 100px;
  padding-left: 140px;
  line-height: 78px;
  vertical-align: top;
  border-left: 24px solid rgba(0,0,0,0);
  clear: both;
}

.social-logo{
  height: 78px;
  width: 181px;
  float: left;
  cursor: pointer;
}

.social-logo-line{
  border-right: 1px solid white;
}

.social-logo:hover{
  background-color: rgba(255,255,255,0.08);
}

.social-logo-facebook{
  background: url('/img/social-logo-facebook.svg') center no-repeat;
}

.social-logo-twitter{
  background: url('/img/social-logo-twitter.svg') center no-repeat;
}

.social-logo-github{
  background: url('/img/social-logo-github.svg') center no-repeat;
}

.frontpage-join-us{
    background: url('/img/join-us.svg') center no-repeat;
    height: 78px;
    width: 100px;
    margin-left: 12px;
    margin-top: -24px;
    float: left;
}

.frontpage-headline{
  margin-top:32px !important;
  margin-bottom: 12px !important;
  font-size: 48px !important;
}

.invited-by-container{

  $speackBubbleBackground = rgba(255,255,255,0.15);

  margin: auto;
  margin-bottom: -50px;
  margin-top: 48px;
  width: 480px; 
  height: 180px;

    .speach-bubble{
      position: relative;
      width: 200px;
      height: 50px;
      padding: 24px;
      background: $speackBubbleBackground;
      color: #FFF;
      margin: auto;
      float: left;
      margin-left: 32px;
      margin-top: 42px;

      .larger{
        font-size: 1.8em;
        font-weight: 400;
        line-height: 32px;
        color:#FFF;
        float: left;
        margin-bottom: 8px;
      }

      .name{
        float: right;
        color: #FFF;
      }
     
    }.speach-bubble:after{

        content: '';
        position: absolute;
        border-style: solid;
        border-width: 15px 17px 15px 0;
        border-color: transparent $speackBubbleBackground;
        display: block;
        width: 0;
        z-index: 1;
        left: -17px;
        top: 34px;

    }
}



/* ABOUT */

#about{

  .container{
    width: 800px;
    margin-top: 250px;

    .before{
      line-height: 3em;
      font-size: 1.5em;
    }

    .content{

      background-color: rgba(0,0,0,0.55);
      font-size: 1.2em;
      line-height: 1.8em;
      padding: 64px 64px 48px 76px;
      margin: auto;
      
      .paragraph{

      }

    }

  }

}

/* HACKER */

.picture {
  max-width: 200px;
}

.hacker{
  float:left;
  width: 260px;
  overflow: hidden;
  margin-bottom: 28px;
  text-align: center;
}

/* HACKERS LIST */

.pictureView-wrapper {
  line-height: 0px;
  margin: 0px;
  padding: 0px;
}

.pictureView {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  background-position: center; 
  background-size: cover;
  color: white;
  margin: auto;
  background-color: rgba(255,255,255,0.1);

  &.small { /* element has also class 'small' */
    width: 64px;
    height: 64px;
    border-radius: 32px;
  }

  &.mini { /* element has also class 'xsmall' */
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }

  &.unknow:before { content: '?'; }
  &.empty:before { content: '\1F60E'; }

  &.unknow:before,
  &.empty:before {
    margin: auto;
    font-size: 3.5em;
    line-height: 3.5em;
    color: rgba(255,255,255,0.4);
  }

  &.unknow.small:before,
  &.empty.small:before {
    font-size: 2.5em;
    line-height: 2.4em;
  }

  &.clickable:hover {
    cursor: pointer;
  }
  &.clickable.mini:hover {
  }
}

.hackers-name{
  font-weight: 400;
  color: #FFF;
  font-size: 130%;
  line-height: 48px;
  white-space: nowrap;
}


/* INVITATIONS */

#invitations{

  .slots{
    margin-top: 24px;
    margin-bottom: 24px;
    float: left;
    clear: both;

    .slot {
      float: left;
      margin-right: 12px;
      text-align: center;
    }

    /* classes .pictureView, .small, .empty, .unknow
       are defined within the .pictureView declaration
       further in this file */

    .invitation-text { /* can't make this work, problem with selector ? */
      padding-top: 30px;
      clear: both;
    }

  }
}


/* INVITATIONS */

#sponsors{


  .sponsor-item{
    padding: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 24px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.1);

    .offer{
      float: left;
      background-color: rgba(255,255,255,1);
      color: #111;
      border-radius: 2px;
      font-weight: bold;
      font-size: 1.2em;
      line-height: 1.2em;
      padding: 4px 8px 4px 8px;
      margin-bottom: 12px;
    }

    h3{
      float: left;
      margin: 0px;
      margin-left: 12px;
      padding: 0px;
      line-height: 1em;
    }

    .discription{
      clear: left;
    }

  }

  .sponsor-item:hover{
    background-color: rgba(0,0,0,0.2);
  }

}


/* INPUT ELEMENTS */

input.text {
  background: transparent;
  border: 1px dashed transparent;
  box-shadow: none;
  border-radius: 15px;
  padding: 3px 10px;
  color: white;
  margin-left: -11px;
  margin-top: -5px;
  transition: none;
}
input.text:hover {
  border: 1px solid rgba(0,0,0,0);
  background-color: rgba(255,255,255,0.1);
}
input.text:focus {
  border: 1px solid rgba(0,0,0,0);
  background-color: rgba(255,255,255,0.2);
  box-shadow: none;
}
input.text.saved {
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(0,0,0,0);
  color: #ffea87;
}
input.text.invalid {
  border-color: orange;
}
input.text::-webkit-input-placeholder { /* WebKit browsers */ color: #bbb; }
input.text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #bbb; }
input.text::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #bbb; }
input.text:-ms-input-placeholder { /* Internet Explorer 10+ */ color: #bbb; }

label.checkbox{
  float: left;
  margin-right: 32px;
  padding-top: 5px;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 1px #777;
}

.change{
  line-height: 60px;
}

.imputPictureRadio{
  visibility: hidden;
}


