@import 'nib'

$pagePaddingHeight = 20px;
$pagePaddingWidth = 40px;


html, body{
  /*background-color: #84a3c0;*/
  font-family: 'open sans';
  position: relative;
  margin: 0;
  padding: 0px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  transition: background-image 2s;
  background-size: cover;
  background-attachment:fixed;
  color: white;
  /*background-image:linear-gradient(white, #1b3a4b) !important;*/
}

.clear {
  clear: both;
}

/* wrapper around all */

.wrapper {
	width: 100%;
	height: 100%;
  overflow: auto;
}

.page {
  padding: $pagePaddingHeight $pagePaddingWidth; 
}
.page-space {
  height: 100px;
}


#iron-router-progress {
  background-color: #fff;
  opacity: 0.8;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  height: 2px;
}
#iron-router-progress.spinner:before {
    border-color : #fff;
}



/* text links */

a {
  text-decoration: none;
  color: #FFF;
  margin: 0px 2px 0px 2px;
  font-weight: bold;
}

a:hover{
  text-decoration: none;
  color: #ffea87;
  /*border-bottom: 2px dotted #1466a8;
  margin-bottom: -5px;*/
}

a img {
  text-decoration: none;
  border:0px;
}

.small{
  font-size:10px;
}

::selection {
  background: #fff9d0;
}

/* bootstrap alerts */

.alert{
  border-radius: 0px;
  border: 0px;
  background-color: transparent;
  margin: auto !important;
  color: #333;
  padding-left: 32px;
  padding-bottom: 20px;
}

.alert h1 {
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.alert p {
  line-height: 23px;
}

.main-alerts {
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  .alert {
    width: 550px;
    margin-left: 200px;
  }
}

.error{
  color: orange;
  font-weight: 700;
}


/* page transition effects on outer most div containing the current page */

#mainWrapper > .route-transition {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transform: scale(1.3);
  opacity: 0.01;
  &.activated {
    transform: scale(1.0);
    opacity: 1.0;
  }
}

/* area */

.area{
  padding: 24px;
  padding-top: 20px;
  padding-bottom: 12px;
  margin-top: 12px;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.1);

  .highlighted{
    float: left;
    background-color: rgba(255,255,255,1);
    color: #111;
    border-radius: 2px;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 4px 8px 4px 8px;
    margin-bottom: 12px;
  }
}


/* HEADER */

$headerHeight = 93px;

#header {
  width: 100%;
  height: $headerHeight;
  overflow: visible;
  position: relative;
  z-index: 100; /* fix to above map on hackers page */

  .floating {
    position: fixed;
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: $headerHeight;

    .background {
      position: absolute;
      z-index: 2;
      left: 0px;
      top: 0px;
      width: 100%;
      height: $headerHeight;
      background-size: cover;
      opacity: 0.95;
    }

    .content {
      position: relative;
      z-index: 3;
      padding: 10px $pagePaddingWidth 0px $pagePaddingWidth;
    }

    .logo-small {
      float: left;
      height: 63px;
      width: 190px;
      background-image: url('/img/logo-inversed.svg');  
    }
  }

  /* transition */
  .floating {
    transition: transform 0.3s 0.0s ease-out;
    transform: translateY(-($headerHeight));
  }
  &.active {
    .floating {
      transform: translateY(0px);
    }
    .floating.float {
      border-bottom: 1px solid rgba(255,255,255,0.3);
      box-shadow: 0px 0px 10px black;
    }
  }
  

}

#header.fixed {
  height: 0px;
  .floating {
    .background {
      background-image: none !important;
      background-color: black;
      opacity: 0.4;
    }
  }
}





/* menu */

.menu{
  float: left;
  padding-top: 25px;
  padding-left: 48px;
  font-size: 18px;
  font-weight: 700;
}

a.menu {
  text-decoration: none;
  color: #eee;
  margin: 0px;
  padding: 0px 8px 0px 8px;
  float: none;
  padding-top: 12px;
  margin-top: -12px;
  padding-bottom: 12px;
  margin-bottom: -12px;
}

a.menu:hover{
  text-decoration: none;
  color: #fff; 
  /*border-bottom: 2px dotted #1466a8;
  margin-bottom: -5px;*/
}



/* karma + user menu */

#header {

  .account {
    float: right;
  }

  .karma{
    font-size: 1.8em;
    float: left;
    margin-top: 27px;
    margin-right: 24px;
  }

  .dropdown {
    float: right;
  }

  .dropdown-toggle {
    padding: 0px;
    margin: 0px;
  }

  .dropdown-menu {
    left: -110px;
    margin-top: -13px;
  }

  .icon-user, .icon-remove, .icon-gift{
    margin-top: 3px;
  }

}




/* INPUT ELEMENTS */

input.text {
  background: transparent;
  border: 1px dashed transparent;
  box-shadow: none;
  border-radius: 15px;
  padding: 3px 10px;
  color: white;
  margin-left: -11px;
  margin-top: -5px;
  transition: none;
}
input.text:hover {
  border: 1px solid rgba(0,0,0,0);
  background-color: rgba(255,255,255,0.1);
}
input.text:focus {
  border: 1px solid rgba(0,0,0,0);
  background-color: rgba(255,255,255,0.2);
  box-shadow: none;
}
input.text.saved {
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(0,0,0,0);
  color: #ffea87;
}
input.text.invalid {
  border-color: orange;
}
input.text::-webkit-input-placeholder { /* WebKit browsers */ color: #bbb; }
input.text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #bbb; }
input.text::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #bbb; }
input.text:-ms-input-placeholder { /* Internet Explorer 10+ */ color: #bbb; }

label.checkbox{
  float: left;
  margin-right: 32px;
  padding-top: 5px;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 1px #777;
}

.change{
  line-height: 60px;
}

.imputPictureRadio{
  visibility: hidden;
}


