@import 'nib'

$pagePaddingHeight = 20px;
$pagePaddingWidth = 40px;


html {
  height: 100%;
}

body {
  background: #84a3c0;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  padding: 0px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-size: cover;
  background-attachment:fixed;
  color: white; 
}

.clear {
  clear: both;
}


/* wrapper around all */

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto; 

  & > .main { /* nested exactly 1 level lower */
    float: left;
    width: 100%;
    height: auto;
    margin: 0 auto;
  
    & > .content{  /* nested exactly 1 level lower */
      height: auto;
    }
  }
}

.page {
  padding: $pagePaddingHeight $pagePaddingWidth; 
}
.page-space {
  height: 100px;
}



/* text links */

a {
  text-decoration: none;
  color: #FFF;
  margin: 0px 2px 0px 2px;
}

a:hover{
  text-decoration: none;
  color: #1466a8;
  /*border-bottom: 2px dotted #1466a8;
  margin-bottom: -5px;*/
}

a img {
  text-decoration: none;
  border:0px;
}



/* bootstrap alerts */

.alert h1 {
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.alert p {
  line-height: 23px;
}




/* header */


.header {
  margin: 0 auto;
  width: 100%;

  .content {
    margin: $pagePaddingHeight $pagePaddingWidth;
  }
}

.header.absolute {
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  z-index: 2; 
  background-color: rgba(0,0,0,0.4);
}

.logo-large{
  float: left;
  height: 120px;
  width: 360px;
  background-image: url('/img/logo.svg');
  background-size: 100%;
}

.logo-small{
  float: left;
  height: 63px;
  width: 190px;
  background-image: url('/img/logo.svg');

}

.header.inversed {
  .logo-small {
    float: left;
    height: 63px;
    width: 190px;
    background-image: url('/img/logo-inversed.svg');  
  } 
}

.menu{
  float: left;
  padding-top: 24px;
  padding-left: 48px;
  font-size: 18px;
  font-weight: 700;
}

a.menu {
  text-decoration: none;
  color: #222;
  margin: 0px;
  padding: 0px 8px 0px 8px;
  float: none;
}

a.menu:hover{
  text-decoration: none;
  color: #1466a8;
  /*border-bottom: 2px dotted #1466a8;
  margin-bottom: -5px;*/
}

.inversed a.menu {
  color: #eee; 
}
.inversed a.menu:hover {
  color: #fff; 
}

.header .right {
  position: absolute;
  right: $pagePaddingWidth;
  top: $pagePaddingHeight + 20;
}
.button-bar {
  padding: 8px;
  padding-left: 14px;
  padding-top: 9px;
  background-color: rgba(255,255,255,1);
  color: #666;

  a {
    text-decoration: none;
    color: #888;
    font-weight: 700;
    padding: 6px;
  }

  a:hover {
    text-decoration: none;
    color: black;
    border: 0px;
  }
}







/* frontpage */

#frontpage h1, 
#frontpage h2 {
  width: 100%;
  float: left;
}
#frontpage h1 {
  color: #333;
  margin-bottom: 5px;
  font-size: 60px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 120%;
}
#frontpage h2 {
  color: #6D461D;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

#frontpage {
  text-align: center;
  margin-top: 260px;
}

#cursor{
  font-weight: 100;
}

#target{
  color:#FFF;
} 








/* hacker */

.picture {
  max-width: 200px;
}

.hacker{
  float:left;
  width: 260px;
  margin-bottom: 28px;
  text-align: center;
}

.hacker-picture {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  line-height: 180px;
  font-size: 90px;
  background-size: cover;

  border:1px solid red;
  /*filter: url(filters.svg#grayscale);*/ /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  margin-bottom: 8px;
}

.hacker-picture:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  /*box-shadow: 0px 0px 7px rgba(0,0,0,0.4);*/
}



/* hackers list */

.pictureView {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  background-size: cover;
  text-align: center;
  color: white;
  margin: auto;
}

.hackers-name{
  font-weight: 400;
  color: #FFF;
  font-size: 130%;
  line-height: 48px;
}

#invitations .invite {
  padding-right: 5px;
}



/* BEGIN input elements */

input.text {
  background: transparent;
  border: 1px dashed transparent;
  box-shadow: none;
  border-radius: 15px;
  padding: 3px 10px;
  color: white;
  margin-left: -11px;
  margin-top: -5px;
  transition: none;
}
input.text:hover {
  border-color: white;
  background-color: rgba(255,255,255,0.1);
}
input.text:focus {
  border-style: solid;
  border-color: white;
  background-color: rgba(255,255,255,0.1);
}
input.text.saved {
  border-color: #aaeeaa;
  background-color: rgba(64,163,195,0.2);
  border: 1px solid rgba(255,255,255,0.5);
}
input.text.invalid {
  border-color: orange;
}
input.text::-webkit-input-placeholder { /* WebKit browsers */ color: #bbb; }
input.text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #bbb; }
input.text::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #bbb; }
input.text:-ms-input-placeholder { /* Internet Explorer 10+ */ color: #bbb; }

label.checkbox{
  float: left;
  margin-right: 32px;
  padding-top: 5px;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 1px #777;
}

.change{
  line-height: 60px;
}

.imputPictureRadio{
  visibility: hidden;
}

/* END input elements */


