@import "nib"

/*
  Import this stylesheet manually in other stylesheers, using:
  @import "../../style.import"
*/


$hover = #ffea87;
$callToActionWidth = 440px;


glow() {
  outline: 3px solid #fff;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .5);
}

frontpage-blur-background()
  background-color: #396e8a;
  background-image: url(/img/frontpage/bg1-blur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 1px;
  background-attachment: fixed;

frontpage-blur-background-soft()
  frontpage-blur-background()
  background-image: url(/img/frontpage/bg1-blur-soft.jpg);
  
