@import "nib"

@font-face {
  font-family: 'Tiempos Text';
  font-style: nromal;
  font-weight: 400;
  src: local('Tiempos Text'), local('Tiempos-Text'), url("/fonts/Tiempos Text/text-regular.otf") format('opentype');
}
@font-face {
  font-family: 'Tiempos Text';
  font-style: normal;
  font-weight: 600;
  src: local('Tiempos Text Bold'), local('TiemposText-Bold'), url("/fonts/Tiempos Text/text-bold.otf") format('opentype');
}
@font-face {
  font-family: 'Tiempos Text';
  font-style: italic;
  font-weight: 400;
  src: local('Tiempos Text Regular Italic'), local('TiemposTextRegular-Italic'), url("/fonts/Tiempos Text/text-italic.otf") format('opentype');
}

@font-face {
  font-family: 'Tiempos Headline';
  font-style: nromal;
  font-weight: 400;
  src: local('Tiempos Headline'), local('Tiempos-Headline'), url("/fonts/Tiempos Headline/headline-regular.otf") format('opentype');
}
@font-face {
  font-family: 'Tiempos Headline';
  font-style: normal;
  font-weight: 600;
  src: local('Tiempos Headline Bold'), local('TiemposHeadline-Bold'), url("/fonts/Tiempos Headline/headline-bold.otf") format('opentype');
}


.clear {
  clear: both;
}

/* admin pannel in page */

.panel {
  padding: 12px 40px;
  background-color: rgba(0,0,0,0.4)
  border: 1px 0px solid rgba(0,0,0,1);

  fieldset{
  	  		line-height: 50px;

  	label{
  		clear: both;
  		float: left;
  		font-weight: bold;
  		width: 160px;
  		margin-right: 24px;
  		line-height: 50px;
  	}
  	div.input{
  		float: left;
  		width: auto;
  		line-height: 50px;
  	}
  }
}

.required-star {
  color: red;
}

