@import 'nib' /* includes browser compatability */


#places {
  
  iframe {
    bottom: 0px;
    position: absolute;
    width: 100%;
    border: 0px;
    margin-bottom: 0px;
    margin-left: -25px;
    height: 81%; /* aproximate */
  }
  
}