h1{
	font-size: 2em;
	line-height: 3em;
	margin-bottom: 0px;
	clear: both;
	width: 100%;
}

.block{
	width: 100%;
	height: auto;

	section{

		height: 200px;
	    background-color: rgba(0,0,0,0.55);
	    margin: 0px 12px 12px 0px; 
	    overflow: hidden;
	    width: 100%;

		.visual{
			height: 200px;
			width: auto;
			float: left;
			background-color: rgba(255,255,255,0.1);
			padding: 0px;
			margin: 0px 18px 0px -2px; /* fix to avoid line on the left site of image, the right side won't go away */
			img{
				height: 200px;
				width: auto;
			}
		}

		.description{
			height: 176px;
			padding: 12px 8px 10px 0px;
			width: 100%;

			.name{
				font-size: 1.8em;
				line-height: 1.1em;
				font-weight: bold;
				width: auto;
				margin-bottom: 4px;
			}
			.subname{
				font-size: 1.3em;
				line-height: 1.3em;
				font-weight: 100;
				width: auto;
				margin-bottom: 6px;
			}
			.author{
				margin-top: 12px;
				font-weight: bold;
				margin-right: 8px;
				width: auto;
			}
			.information{
				margin-top: 12px;
				margin-bottom: 12px;
				width: auto;
			}
			.lanquages{
				width: auto;
				margin-top: 6px;
			}
			
		}

		a {
			margin-left: 0px; /* fix */
		}

	}

}


@media all and (min-width: 1200px) {
	.block {
		section{
			float: left;
			width: 48.9%;
			display : inline-block
		}
	}
}

@media all and (min-width: 1600px) {
	.block {
			section{
				float: left;
				width: 32.5%;
				display : inline-block
			}
	}
}



.page .btn-suggest{
	float: left;
	clear: both;
	margin-bottom: 48px;
	margin-top: 24px;
}