h1{
	font-size: 2em;
	line-height: 3em;
	margin-bottom: 0px;
	clear: both;
	width: 100%;
}

.block{
	width: 100%;
	height: auto;

	section{

		height: 200px;
		min-height: 200px;
		max-height: 200px;
	    background-color: rgba(0,0,0,0.55);
	    margin: 0px 0px 12px 0px; 
	    overflow: hidden;
	    width: 100%;

		.visual{
			height: 200px;
			width: auto;
			float: left;
			background-color: rgba(255,255,255,0.1);
			padding: 0px;
			display: inline-block;
			margin: 0px 0px 0px -2px; /* fix to avoid line on the left site of image, the right side won't go away */
			img{
				height: 200px;
				width: auto;
			}
		}

		.description{
			height: 176px;
			padding: 12px 8px 10px 14px;
			width: auto;
			overflow: hidden;
			display: inline-block;

			.name{
				font-size: 1.8em;
				line-height: 1.5em;
				font-weight: bold;
				float: left;
				clear: both;
			}
			.subname{
				font-size: 1.3em;
				line-height: 1.3em;
				font-weight: 100;
				float: left;
				clear: both;
			}
			.author{
				float: left;
				clear: both;
				margin-top: 12px;
				font-weight: bold;
				margin-right: 8px;
			}
			.information{
				float: left;
				margin-top: 12px;
				margin-bottom: 12px;

			}
			.lanquages{
				float: left;
				clear: both;
			}
		}

	}

}


@media all and (min-width: 1200px) {
	.block {
		-webkit-column-break-inside: avoid;
		-webkit-column-count: 2;
		-webkit-column-gap: 12px; /* Saf3, Chrome*/
		-moz-column-count: 2;   
		-moz-column-gap: 12px; /* FF3.5+ */
		column-count: 255;        
		column-gap: 12px; /* Opera 11+*/	

		section{
			display : inline-block
		}
	}
}

@media all and (min-width: 1600px) {
	.block {
		-webkit-column-break-inside: avoid;
		-webkit-column-count: 3;
		-webkit-column-gap: 12px; /* Saf3, Chrome*/
		-moz-column-count: 3;   
		-moz-column-gap: 12px; /* FF3.5+ */
		column-count: 3;        
		column-gap: 12px; /* Opera 11+*/
		
			section{
				display : inline-block
			}
	}
}



.page a.btn{
	float: left;
	clear: both;
	margin-bottom: 48px;
	margin-top: 24px;
}