h1{
	font-size: 2em;
	line-height: 3em;
	margin-bottom: 0px;
	clear: both;
}

section{

	height: 200px;
    background-color: rgba(0,0,0,0.55);
    margin: 0px 12px 12px 0px; 
    width: 47%;
    float: left;

	.visual{
		height: 100%;
		float: left;
		img{
			height: 100%;
			float: left;
			clear: both;
		}
	}

	.description{
		padding: 12px;
		display: inline-block;
		float: left;
		width: 60%;
		.name{
			font-size: 1.8em;
			line-height: 1.5em;
			font-weight: bold;
			float: left;
			clear: both;
		}
		.subname{
			font-size: 1.3em;
			line-height: 1.3em;
			font-weight: 100;
			float: left;
			clear: both;
		}
		.author{
			float: left;
			clear: both;
			margin-top: 12px;
			font-weight: bold;
			margin-right: 8px;
		}
		.information{
			float: left;
			margin-top: 12px;
			margin-bottom: 12px;

		}
		.lanquages{
			float: left;
			clear: both;
		}
	}

}

.page a.btn{
	float: left;
	clear: both;
	margin-bottom: 48px;
	margin-top: 24px;
}