
#loading {
  width: inherit;
  height: inherit;

  .spin-container {
    position: fixed;
    top: 50%;
    left: 50%;
    .spinner {
      left: 0px !important;
      top: 0px !important;
    }
  }
}
