@import nib

#highlightsEditor {
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 20px;

	form{
		margin-bottom: 0px;
	}

	.form {
		color: #fff;
		background-color: rgba(0,0,0,0.6);
		width: 220px;
		padding: 28px 28px 28px 28px;
		margin-bottom: 20px;
		.help-block {
			color: #ee0000; /* error */
		}
	}

	.buttons{
	  margin-top: 24px;
	}

	.toolbar {
		padding: 0px;
		margin: 0px;
	}
}

.onepage-pagination {
	&.draggable a {
		cursor: move;
	}
}