@import "nib"

#map,
#mapMode, {
  width: 100%;
  height: 100%;

  #mapbox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
  }

  .leaflet-control-zoom {
    margin: 105px 10px;
    opacity: 0.8;
    background-color: #111;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
  }

  .leaflet-control-zoo:hover {
  }

  .leaflet-container.dark .leaflet-bar a{
    border: 0px;
  }

  .leaflet-container.dark .leaflet-bar a:active, .leaflet-container.dark .leaflet-bar a:hover {
    background-color: #282828;
  }

  .leaflet-bar a{
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
  }

  /* popup */
  .leaflet-popup-content {
    padding: 10px;
    .profile-picture {
      float: left;
      width: 100px;
      height: 100px;
      background-position: 50% 50%;
      background-size: cover;
      margin-right: 10px;
    }
    .company {
      a {
        color: #333;
        text-decoration: underline;
        font-weight: normal;
      }
    }
    .available-buttons .btn {
      margin-top: 5px;
      height: 20px;
      font-size: 1em;
      line-height: 0.7em;
      padding: 2px 4px;
      background-color: #eee;
      color: #888;
      font-weight: normal;
      &:hover {
        background-color: #bbb;
      }
    }
  }

  .filter-ui {
    background: rgba(0,0,0,0.3);
    position: absolute;
    z-index: 10;
    top: 93px;
    right: 0px;
    width: 210px;
    .labels {
      margin: 32px;
    }
  }

  .marker-hacker.picture {
    border-radius: 90px;
    background-color: rgba(255,255,255,0.1);
  }
  .marker-hacker.point {
    opacity: 1;
  }
}


