@import 'nib'

#hacker {
  position: relative;

  .alert {
    width: 550px;
    margin-left: 200px;
  }

  .btn-edit-mode {
    position absolute;
    top: 105px;
    left: 745px;
    .icon {
      margin-right: 3px;
      margin-bottom: 2px;
      vertical-align: middle;
    }
  }
  
  #mapWrapper.edit {
    width: 200px;
    height: 200px;
    
    .map {
      position: relative;
      z-index: 10;
      width: inherit;
      height: inherit;
      opacity: 0.6;
      transition: opacity 0.3s ease-in;
      
      &:hover { /* hovering map */
        cursor: pointer;
        -webkit-filter: brightness(1.6);
        -moz-filter: brightness(1.6);
        -o-filter: brightness(1.6);
        -ms-filter: brightness(1.6);
        filter: brightness(1.6);
        box-shadow: 0 0 10px rgba(255, 255, 255, 1);  
      }
    }
    
    .close-map {
      display: none;
      position: fixed;
      top: 30px;
      right: 30px;
      z-index: 11;
    }
    
    &.active { /* in fullscreen mode */
      .map {
        opacity: 1;
        
        /* reset the :hover properties from above */
        cursor: default;
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        -ms-filter: none;
        filter: none;
        box-shadow: none;
      }
      .close-map {
        display: block;
      }
    }
  }

  #mapWrapper.view {
    width: 700px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 18px;
    .map {
      width: inherit;
      height: inherit;
    }
  }
  
  
  #profilePicture {
    position: relative;
    .picture {
      width: 180px;
      height: 180px;
      border-radius: 90px;
      background-size: cover;
    }
    div.current-picture {
      position: relative;
      width: 180px;
      height: 180px;
      .change {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        width: 100%;
        text-align: center;
        color: white;
        margin-top: 50px;
      }
      &.change-allowed:hover {
        cursor: pointer;
        .change {
          display: block;
        }
        .picture {
          -webkit-filter: blur(2px) brightness(0.7);
          -moz-filter: blur(2px) brightness(0.7);
          -o-filter: blur(2px) brightness(0.7);
          -ms-filter: blur(2px) brightness(0.7);
          filter: blur(2px) brightness(0.7);
        }
      }
    }
    div.picture-choser {
      display: none;
      position: absolute;
      top: -20px;
      left: -20px;
      z-index: 3;
      border-radius: 10px;
      padding: 10px 10px 5px 10px;
      background-color: rgba(0,0,0,0.85);
      white-space:nowrap;
      .choice-wrapper {
        margin: 10px;
        display: inline-block;
      }
      label {
        padding: 0px;
        text-align: center;
        color: #CCC;
      }
      .label-text {
        margin-top: 8px;
        color: white;
      }
    }
    div.picture-choser.show {
      display: block;
    }
  }

  .edit-social {
    .disabled {
      opacity: 0.6;
    }
    .icon {
      position: relative;
      top: 2px;
    }
    .icon-plus {
      margin-left: 9px;
    }
    .icon-remove {
      top: 3px;
      display: none;
    }
    &:hover {
      .icon-remove {
        display: inline-block;
        opacity: 0.4;
      }
      .icon-remove:hover {
        display: inline-block;
        opacity: 1;
      }
    }
  }

  A.profile-social-active{
    padding: 7px 12px 8px 4px;
    background-color: rgba(92,128,5,0.8);
    border: 0px;
    margin: 0px;
    line-height:24px;
    color:#384422;
    font-weight:700;
    border:1px solid #85a352;
    margin-right: 6px;
 }
  A.profile-social-active:hover{
    color:#FFF;
    background-color: rgba(202,82,35,0.8);
    border:1px solid #d67b59;
  }
  IMG.profile-social-active-icon{
    height:24px;
    vertical-align:middle;
  }

  A.profile-social-inactive{
    padding: 7px 12px 8px 12px;
    background-color: rgba(202,82,35,0.8);
    border: 0px;
    margin: 0px;
    line-height:24px;
    color:#dadada;
    font-weight:700;
    border:1px solid #d67b59;
    margin-right: 6px;
  }
  A.profile-social-inactive:hover{
    color:#FFF;
    background-color: rgba(92,128,5,0.8);
    border:1px solid #85a352;
  }
  IMG.profile-social-inactive-icon{
    height:10px;
    vertical-align:middle;
    padding-right: 6px;
  }

  .control-label{
    font-weight: 700;
    color: white;
  }

  DIV.controls{
    line-height: 30px;
    color: #e2e2e2;
  }


  /* VIEW hacker */

  .headline{
    float:left;
    margin-top: 70px;
    margin-left: 24px;
  }

  .name{
    font-size: 36px;
    font-weight: 700;
    color:white;
    float:left;
  }

  .hacking-container{
    float:left;
    font-size: 18px;
    clear:left;
    margin-bottom: 12px;
    margin-top: 30px;
  }

  .hacking-tag{
    float:left;
    line-height: 32px;
    background-color: rgba(0,0,0,0.45);
    border-radius: 18px;
    padding: 0px 13px 2px 14px;
    margin-right: 6px;
    font-weight: 700;
  }

  .hacker-number{
    line-height: 34px;
    font-size: 14px;
    float: left;
    margin-left: 12px;
  }

  /* lines */

  .line{
    margin-top:48px;
    clear: left;
  }

  .handle{
    float:left;
    width:175px;
    text-align:right;
    padding-right:24px;
    font-weight:700;
    line-height:28px;
  }

  .output{
    float:left;
    line-height: 28px;
    max-width: 750px;
  }

  .btn-opacity{
    opacity: 0.6 !important;
  }

  .btn-opacity{
    opacity: 0.8 !important;
  }


}