@import 'nib'

#hacker {

  .alert {
    width: 550px;
    margin-left: 200px;
  }
  
  #mapWrapper {
    width: 200px;
    height: 200px;
    #map {
      position: relative;
      z-index: 10;
      width: inherit;
      height: inherit;
      opacity: 0.6; 
    }
    #map:hover {
      opacity: 1; 
      -webkit-transition: opacity 0.4s ease-in;
      -moz-transition: opacity 0.4s ease-in;
      -ms-transition: opacity 0.4s ease-in;
      -o-transition: opacity 0.4s ease-in;
      transition: opacity 0.4s ease-in;
    }
  }
  
  
  #profilePicture {
    position: relative;
    .picture {
      width: 160px;
      height: 160px;
      border-radius: 80px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    div.current-picture {
      position: relative;
      width: 160px;
      height: 160px;
      .change {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        width: 100%;
        text-align: center;
        color: white;
        margin-top: 50px;
      }
      &.change-allowed:hover {
        cursor: pointer;
        .change {
          display: block;
        }
        .picture {
          -webkit-filter: blur(2px) brightness(0.7);
          -moz-filter: blur(2px) brightness(0.7);
          -o-filter: blur(2px) brightness(0.7);
          -ms-filter: blur(2px) brightness(0.7);
        }
      }
    }
    div.picture-choser {
      display: none;
      position: absolute;
      top: 0px;
      left: -20px;
      z-index: 3;
      width: 600px;
      padding-left: 0px !important;
      margin-left: 0px !important;
      /*background-color: rgba(0,0,0,0.8);*/
      label {
        float: left;
        text-align: center;
        color: #CCC;
      }
      .label-text {
        margin-top: 8px;
        color: white;
      }
    }
    div.picture-choser.show {
      display: block;
    }
  }


  A.profile-social-active{
    padding: 7px 12px 8px 4px;
    background-color: rgba(92,128,5,0.8);
    border: 0px;
    margin: 0px;
    line-height:24px;
    color:#384422;
    font-weight:700;
    border:1px solid #85a352;
    margin-right: 6px;
 }
  A.profile-social-active:hover{
    color:#FFF;
    background-color: rgba(202,82,35,0.8);
    border:1px solid #d67b59;
  }
  IMG.profile-social-active-icon{
    height:24px;
    vertical-align:middle;
  }

  A.profile-social-inactive{
    padding: 7px 12px 8px 12px;
    background-color: rgba(202,82,35,0.8);
    border: 0px;
    margin: 0px;
    line-height:24px;
    color:#dadada;
    font-weight:700;
    border:1px solid #d67b59;
    margin-right: 6px;
  }
  A.profile-social-inactive:hover{
    color:#FFF;
    background-color: rgba(92,128,5,0.8);
    border:1px solid #85a352;
  }
  IMG.profile-social-inactive-icon{
    height:10px;
    vertical-align:middle;
    padding-right: 6px;
  }

  .control-label{
    font-weight: 700;
    color: white;
  }

  DIV.controls{
    line-height: 30px;
    color: #e2e2e2;
  }

  .overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;
    z-index:2;
    color:white;
    visibility: hidden;
  }


  /* VIEW hacker */

  .headline{
    float:left;
    margin-top: 70px;
    margin-left: 24px;
  }

  .name{
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color:white;
    float:left;
  }

  .hacking-container{
    float:left;
    font-size: 18px;
    clear:left;
    margin-bottom: 12px;
    margin-top: 30px;
  }

  .hacking-tag{
    float:left;
    line-height: 32px;
    background-color: rgba(0,0,0,0.45);
    border-radius: 18px;
    padding: 0px 13px 2px 14px;
    margin-right: 6px;
    font-weight: 700;
  }

  .hacker-number{
    line-height: 34px;
    font-size: 14px;
    float: left;
    margin-left: 12px;
  }

  /* lines */

  .line{
    margin-top:48px;
    clear: left;
  }

  .handle{
    float:left;
    width:175px;
    text-align:right;
    padding-right:24px;
    font-weight:700;
    line-height:28px;
  }

  .output{
    float:left;
    line-height: 28px;
    max-width: 750px;
  }

  .available{
    opacity: 0.6;
  }

  .available:hover{
    opacity: 0.8;
  }


}