@import 'nib'

#ambassador {
  
  /* table layout */
  table {
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.1);
  }
  caption {
    font-size: 1.3em;
    color: black;
    font-weight: bold;
    background-color: rgba(255,255,255,0.4);
  }
  th, td, caption {
    text-align: left;
    padding: 4px 8px;
  }
  tr {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    &:hover {
      background-color: rgba(255,255,255,0.1);
    }
  }
  a.image {
    display: block;
    border: 0px;
  }
  .image {
    width: 120px;
    height: 65px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

}