
@import "nib"

/* FRONTPAGE */

#frontpage {
  width: inherit;
  height: inherit;
  
  .overlay {
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 1px;
    background-attachment: fixed;
    
    transition: height 1s ease-in, visibility 0s 1s;
  }
  
  .slide {
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .slide .content {
    padding: 100px;
  }
  

  #welcomeOverlay {
    background-image: url(/img/backgrounds/frontpage-intro-blur.jpg);
    div { 
      margin-top: 30%; 
      font-size: 3em; 
      text-align: center;
    }
  }
  
  #introSlide {
    background-image: url(/img/backgrounds/frontpage-intro.jpg);
  }
  
  #toolsSlide {
    background-image: url(/img/backgrounds/frontpage-tools.jpg);
  }
  
  #videoSlide {
    background-image: url(/img/backgrounds/frontpage-video.jpg);
  }
  
  #manifestoSlide {
    background-image: url(/img/backgrounds/frontpage-manifesto.jpg);
  }
  
  #aboutSlide {
    background-image: url(/img/backgrounds/frontpage-about.jpg);
  }
  
}
