@import "nib"
@import "../../style.import"

text-shadow()
  /* no text shadow */
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);

button()
  border: 1px solid white;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
  text-shadow()


button-active()
  background-color: rgba(255, 255, 255, 0.1);

centered()
  /*
    Align in center, both vertical and horizontal.
    Apply only if the height of the element is less than window height.
    Furthermore the parent must be postioned absolute|fixed|relative.
  */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

frontpage-blur-background()
  background-color: #396e8a;
  background-image: url(/img/frontpage/bg1-blur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 1px;
  background-attachment: fixed;

exit-button()
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 80;
  display: block;
  width: 30px;
  height: 30px;
  img {
    width: 100%;
  }


/* FRONTPAGE */

#frontpage {
  width: inherit;
  height: inherit;

  h1,h2,h3 {
    font-family: "Tiempos Headline", 'open sans';
    font-weight: bold;
  }

  /* GENERIC */

  em {
    color: $hover;
    font-style: normal;
  }

  .button {
    button();
    &:hover {
      button-active();
    }
  }

  input[type="text"] {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    border-radius: 2px;
    outline: 0;
  }

  .overlay {
    position: fixed;
    z-index: 50;
    bottom: 0;
    width: 100%;
    height: 100%;
    frontpage-blur-background()

    &.anim-dropout {
      transition: height 1s ease-in, visibility 0s 1s;
      height: 0%;
      visibility: hidden;
      & > * {
        transition: opacity 0.3s 0.6s;
        opacity: 0;
      }
    }
  }

  .slide-nav {
    position: fixed;
    z-index: 40;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    & > a {
      display: block;
      margin: 14px 0px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: white;
      opacity: 0.3;
      &:hover {
        opacity: 0.6;
      }
      &.active {
        opacity: 1;
      }
    }
  }

  .slide {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .slide .content-block {
    margin: 0 auto;
    padding: 100px 20px;
  }



  /* SPECIFIC */

  /* buttons */

  #logo {
    position: fixed;
    z-index: 90;
    top: 20px;
    left: 20px;
    width: 150px;
    display: block;
    img { width: 100%; }
  }
  #enroll-btn {
    position: absolute;
    z-index: 60;
    bottom: 20px;
    right: 20px;
    width: 100px;
    display: block;
    &.fixed {
      position: fixed;
      top: 20px;
      bottom: auto;
    }
    &.active { /* enroll mode already active */
      visibility: hidden;
    }
  }


  /* overlay */

  #welcomeOverlay {
    div {
      position: fixed;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      font-size: 4.5em;
      text-align: center;
    }
    .logo {
      position: absolute;
    }
  }


  /* slides */

  #welcome {
    background-image: url(/img/frontpage/bg1.jpg);
    position: relative;
    #opensource {
      position: absolute;
      top: 0px;
      right: -2px;
      display: block;
      width: 100px;
      height: 100px;
      img {
        width: 100%;
      }
    }
    .content-block {
      width: 440px;
      padding-left: 0px;
      padding-right: 0px;
    }
    #location-block {
      select {
        width: 100%;
        // font-size: 1.8em;
      }
    }
    #enroll-block {
      position: absolute;
      top: 50%;
      width: inherit;
      transform: translateY(-35%);
      #enroll-btn-large {
        display: block;
        font-size: 2.4em;
        border-width: 3px;
        border-radius: 0px !important;
        margin-top: 50px;
      }
      #enroll-btn-large:hover{
          background-color:rgba(0,0,0,0.1);
        }
      small {
        display: block;
        margin-top: 10px;
        font-size: 1em;
        font-style: italic;
        text-align: center;
        text-shadow()
      }
      .invitation-container {
        position: relative;
        width: 300px;
        height: 100px;
        margin: 0px auto;
        .pictureView {
          margin: 0px;
        }
        .bubble {
          $bubbleBgColor = rgba(255,255,255,0.15)
          $margin = 90px;
          position: absolute;
          top: 26px;
          left: $margin;
          width: 200px;
          padding: 15px 20px;
          background-color: $bubbleBgColor;
          font-size: 1.2em;
          &::after{
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 13px 15px 13px 0;
            border-color: transparent $bubbleBgColor;
            display: block;
            width: 0;
            z-index: 1;
            left: -15px;
            top: 14px;
          }
        }

      }
      #video-btn-small {
        width: 155px;
        font-weight: normal;
        font-style: italic;
        padding: 10px;
        margin: 35px auto;
        text-align: center;
        display: block;
        img {
          margin: 0 auto;
          width: 35px;
        }
        span {
          margin-left: 6px;
        }
        &:hover {
          button-active()
        }
      }
    }
    #login-block {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 90px;
      text-align: center;
      transition: height 1s;
      z-index: 45;

      &.active {
        height: 100%;
      }

      /* blur background after sign in buttons
         after clicking enroll */
      &::after {
        position: absolute;
        z-index: -1;
        top: 0
        bottom: 0
        left: 0
        right: 0
        content: "";
        frontpage-blur-background()
        opacity: 0;
        transition: opacity 0.6s 0.6s ease-out;
      }
      &.active::after {
        opacity: 1;
        transition: opacity 0.2s 0s ease-out;
      }

      #enroll-exit { display: none; }
      &.active #enroll-exit {
        exit-button();
      }

      .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
      }
      .title > div {
        display: inline-block;
        width: 100px;
        &.line-filler {
          position: relative;
          top: -5px;
          width: 200px;
          border-bottom: 1px solid rgba(255,255,255,0.6);
        }
      }
      .sign-in-buttons a {
        display: inline-block;
        padding: 15px 35px 10px 35px;
        width: 160px;
        height: 70px;
        margin: 0px 0px 20px 0px;
        border:
        &:hover {
          button-active();
        }
      }
    }
  }

  #tools {
    background-image: url(/img/frontpage/bg2.jpg);
    .row {
      text-align: center;
      & > div {
        padding: 50px 10px;
      }
      img {
        display: block;
        margin: 0 auto;
      }
      a{
        margin: 0px;
      }
    }
  }

  #video {
    background-image: url(/img/frontpage/bg3.jpg);

    #video-play {
      centered();
      display: block;
      width: 65%;
      img {
        width: 100%;
      }
      &:hover {
        button-active();
      }
    }

    #video-player {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 80;
      background-color: black;
      visibility: hidden;
      opacity: 0;
    }

    #video-exit {
      exit-button();
      display: none;

    }

    /* toggle visivility */
    &.playing {
      #video-play { display: none; }
      #video-player { visibility: visible; opacity: 1; }
      #video-exit { display: block; }
    }

    /* fade animation */
    #video-player { transition: opacity 0.6s, visibility 0s 0.8s; }
    &.playing #video-player { transition: opacity 0.6s, visibility 0s 0s; }
  }

  #manifesto {
    background-image: url(/img/frontpage/bg4.jpg);
    .content-block {
      max-width: 640px;
      padding-right: 0px;
    }
    ol {
      padding: 1.1em;
      font-size: 1.3em;
      line-height: 1.6em;
      li {
        margin-bottom: 12px;
      }
    }
    .content-block {
      margin: 0 auto;
      padding: 200px 20px;
    }
  }

  #influencers {
    background-image: url(/img/frontpage/bg5.jpg);
    .container {
      padding: 0px 120px;
    }
    .row.intro {
      margin: 30px 0 40px 0;
      font-size: 1.3em;
      line-height: 1.6em;
    }
    .row.items {
      text-align: center;
      & > div {
        padding: 50px 10px;
      }
      img {
        display: block;
        margin: 0 auto;
      }
    }
    .row.extro {
      font-size: 1em;
      font-style: italic;
    }
  }

  #about {
    background-image: url(/img/frontpage/bg6.jpg);
    .content {
      font-size: 1.3em;
      line-height: 1.6em;
      margin: 0 auto;
      max-width: 600px;
      p.spacer {
        margin-top: 3em;
      }
    }
    #staff {
      margin: auto;
      width: 80%;
      margin-top: 70px;
      text-align: center;
      .picture-view {
        display: inline-block;
        margin-right: 12px;
        margin-bottom: 12px;
        margin-top: 8px;
        text-align: center;
      }
      .members {
        margin-bottom: 20px;
      }
    }
    #to-top {
      position: fixed;
      z-index: 40;
      bottom: 20px;
      right: 20px;
      display: block;
      width: 30px;
      height: 30px;
      img {
        width: 100%;
        transform: rotate(180deg);
      }
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.6s, visibility 0s 0s;
      &.visible {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.6s, visibility 0s 0.8s;
      }
    }
  }
}
