
@import "nib"

/* FRONTPAGE */

#frontpage {
  width: inherit;
  height: inherit;
  
  .curtain-overlay {
    position: absolute;
    top: 0px;
    width: 50%;
    opacity: 0.85;
    height: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    &.left-side { left: 0; background-position: 0 0; }
    &.right-side { right: 0; background-position: 100% 0; }
    
    transition: width 1.2s cubic-bezier(0.220, 0.375, 0.610, -0.060);
    
  
    /* background */
    &.intro-overlay { background-image: url(/img/backgrounds/frontpage-blur.jpg); }
    
    /* text */
    &.intro-overlay {
      div { 
        position: absolute; 
        top: 48%; 
        width: 300px;
        font-size: 3em; 
      }
      &.left-side div { right: 14px; text-align: right; }
      &.right-side div { left: 0; text-align: left; }
    }
  }
  
  .slide {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    overflow-y: auto;
    background-image: url(/img/backgrounds/frontpage-normal.jpg);
    background-size: 100% 100%;
  }

  .slide .content {
    padding: 100px;
    border: 1px solid blue;
  }

}
