@import 'nib'
@import '../../main'


/* Gifts */

#gifts{
 
  .gift {
    &:hover{
      background-color: rgba(0,0,0,0.2);
    }
    &[selected]{
      glow();
    }
    h3{
      float: left;
      margin: 0px;
      margin-left: 12px;
      padding: 0px;
      line-height: 1em;
    }
    .description{
      clear: left;
    }
    .toolbar {
      width: 60px;
      float: right;
    }
    .drag-handle {
      position: relative;
      top: -20px;
      width: 50px;
      height: 10px;
      margin: 0 auto;
      background-color: rgba(0,0,0,0.2);
      cursor: move;
    }
  }
}

#giftEditor {
  position: fixed;
  z-index: 2;
  left: 20px;
  bottom: 20px;
  
  .toolbar {
    padding: 0px;
    margin: 0px;
  }
  
  form {
    width: 220px;
    padding: 28px 28px 28px 28px;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    label {
      display: inline-block;
      margin-left: 6px;
    }
    .help-block {
      color: #ee0000; /* error */
    }
    .buttons {
      margin-top: 24px;
    }
  }
}

