@import "nib"
@import "../../general"

/* Gifts */

#gifts{
 
  .gift {
    &:hover{
      background-color: rgba(0,0,0,0.2);
    }
    &[selected]{
      glow();
    }
    h3{
      float: left;
      margin: 0px;
      margin-left: 12px;
      padding: 0px;
      line-height: 1em;
    }
    .description{
      clear: left;
    }
    .drag-handle {
      position: relative;
      top: -20px;
      width: 50px;
      height: 10px;
      margin: 0 auto;
      background-color: rgba(0,0,0,0.2);
      cursor: move;
    }
  }
}

