@import 'nib'



/* Gifts */

#gifts{

  .toolbar {
    width: 100px;
    float: right;
  }

  h3{
    float: left;
    margin: 0px;
    margin-left: 12px;
    padding: 0px;
    line-height: 1em;
  }

  .description{
    clear: left;
  }
  
  .gift-item:hover{
    background-color: rgba(0,0,0,0.2);
  }

}