
$panelWidth = 280px;
$panelPadding = 28px;
$toolbarPadding = 5px;

.toolbar-editor {
  position: fixed;
  z-index: 2;
  right: 20px;
  bottom: 10px;
  padding: 20px;
  margin: 0px;

  .toolbar,
  .panel {
    border-radius: 5px;
    background-color: rgba(20,20,20,0.9);
  }

  .toolbar {
    margin: 0px;
    padding: $toolbarPadding;

    .text {
      display: inline-block;
      padding: 0px 6px;
      position: relative;
      top: 2px;
      .icon {
        position: relative;
        top: 2px;
      }
    }
  }
  
  .panel {
    width: $panelWidth;
    padding: $panelPadding;
    color: #fff;
    margin-bottom: 5px;
    label {
      display: inline-block;
      margin-left: 6px;
    }
    .has-error span {
      display: inline-block;
      margin-left: 6px;
      color: #ee0000; /* error */
      margin-bottom: 5px;
    }
  }
}
