@import "nib"

#hackers {
  .pictureView.route-transition {
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(0);
    &.activated {
    	transform: scale(1);
   	}
    &:hover {
      transition-delay: 0s !important;
    	transform: scale(1.15);
   	}
  }

  .total {
    text-align: center;
  }

  #hackersFilter {
    width: 600px;
    margin: 0 auto;
    
    .chosen-select {
      width: 100%;
    }
    
    .chosen-container {
      .chosen-drop, .chosen-results {
        max-height: 350px;
      }
      .group-result { /* optgroup */
        margin: 10px 0px;
      }
      .group-option {
        display: inline-block;
        padding: 5px 8px;
      }
      .group-option:hover {
        font-weight: normal;
      }
    }
  }

  $hackerWidth = 260px;
  .hacker {
    position: relative;
    width: $hackerWidth;
    .hacking {
      position: absolute;
      div {
        position: absolute;
        top: 0px;
        left: 0px;
        text-align: center;
        width: $hackerWidth - 40px;
        height: $hackerWidth - 40px;
        padding: 20px;
        &:nth-child(1) { transform: rotate(-60deg); }
        &:nth-child(2) { transform: rotate(-30deg); }
        &:nth-child(3) { transform: rotate(0deg); }
        &:nth-child(4) { transform: rotate(30deg); }
        &:nth-child(5) { transform: rotate(60deg); }
        &:nth-child(6) { transform: rotate(90deg); }
        &:nth-child(7) { transform: rotate(120deg); }
        &:nth-child(8) { transform: rotate(150deg); }
        &:nth-child(9) { transform: rotate(180deg); }
        span {
          display: inline-block;
          padding: 0px 4px;
          &.highlighted {
            background-color: rgba(255,255,0, 0.9);
            border-radius: 5px;
            color: #222;
          }
        }
        
      }

    }
  }
}



/* HACKER */

.picture {
  max-width: 200px;
}

.hacker{
  float:left;
  width: 260px;
  overflow: hidden;
  margin-bottom: 28px;
  text-align: center;
}


/* HACKERS LIST */


.pictureView {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  background-position: center; 
  background-size: cover;
  color: white;
  margin: auto;
  background-color: rgba(255,255,255,0.1);
  text-align: center;

  &.small { /* element has also class 'small' */
    width: 64px;
    height: 64px;
    border-radius: 32px;
  }

  &.mini { /* element has also class 'xsmall' */
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }  

  &[label]:not([label=""]):before {
    content: attr(label);
  }
  &:before {
    color: #fff; 
    font-weight: bold;
    cursor: default;
    background-color: rgba(0,0,0,0.5);
    font-size: 12px;
    line-height: 320px;
    border-radius: 1px;
    padding: 0px 5px;
    max-width: 135px;
  }
  &.small:before {
    font-size: 11px;
    line-height: 100px; 
  }

  &.clickable:hover {
    cursor: pointer;
  }
  &.clickable.mini:hover {
  }
  
}


.hackers-name{
  font-weight: 400;
  color: #FFF;
  font-size: 130%;
  line-height: 48px;
  white-space: nowrap;
}


/* foreign users will be disabled from clicking */  

a.pictureViewLink[foreign] {
  cursor: default !important;
  color: white !important;
}
.pictureView[foreign] {
  transition: none !important;
  transform: none !important;
  cursor: default !important;
}



