@import 'nib'



/* SPONSORS */

#sponsors{

  h3{
    float: left;
    margin: 0px;
    margin-left: 12px;
    padding: 0px;
    line-height: 1em;
  }

  .discription{
    clear: left;
  }
  
  .sponsor-item:hover{
    background-color: rgba(0,0,0,0.2);
  }

}