@import 'nib'



/* SPONSORS */

#sponsors{


  .sponsor-item{
    padding: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 24px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.1);

    .offer{
      float: left;
      background-color: rgba(255,255,255,1);
      color: #111;
      border-radius: 2px;
      font-weight: bold;
      font-size: 1.2em;
      line-height: 1.2em;
      padding: 4px 8px 4px 8px;
      margin-bottom: 12px;
    }

    h3{
      float: left;
      margin: 0px;
      margin-left: 12px;
      padding: 0px;
      line-height: 1em;
    }

    .discription{
      clear: left;
    }

  }

  .sponsor-item:hover{
    background-color: rgba(0,0,0,0.2);
  }

}