@import 'nib'

#highlights {
  overflow: hidden;
  width: 100%;
  height: 100%;

  .photo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
  }

  .details {
    position: absolute;
    right: 0px; 
    bottom: 20%;
    padding: 20px;
    padding-right: 50px;
    background-color: rgba(0,0,0,0.5);
    min-width: 300px;
    max-width: 40%;

    .title, .subtitle {
      display: block;
      line-height: 1.1em;
    }
    .title {
      font-size: 2em;
      font-weight: bold;
    }
    .subtitle {
      font-size: 2em;
      line-height: 1.5em;
      margin-top: 4px;
    }
    .description {
    }

    .user {
      margin: 20px 0px;
    }
    .pictureView {
      float: left;
      margin-right: 5px;
    }
  }
  
}