@import 'nib'

#goodStuffMasonry{

  /*border:1px solid red;*/
  padding: 0px;
  margin: 0px; 
}

#goodStuff {

  .item {
    margin-right: 6px;
    margin-bottom: 6px;
    width: 24.3%;
    min-height: 220px;
    background-color: rgba(255,255,255,0.7);
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    overflow: hidden;

    .item-overlay {
      display: block;
      min-height: inherit;
      border-radius: inherit;
      background-color: rgba(0,0,0,0.8);
      transition: opacity 0.3s, transform 0.2s;
      transform: translateY(300px);
      opacity: 0;
      margin: 1px;

        .icon{
          margin: 12px;
          float: right;
        }

      .item-content {
        padding: 24px;
        color: white;
  
        .title {
          font-weight: bold;
          font-size: 1.6em;
          line-height: 1.3em;
          float: left;
          margin-right: 8px;
        }
        .subtitle {
          font-size: 1.6em;
          line-height: 1.3em;
          float: left;
        }
        .price{
          font-weight: bold;
          float: right;
          background-color: rgba(126,180,219,0.7);
          border-radius: 2px;
          padding: 3px 6px 3px 6px;
        }
        .event {
          clear: both;
          .event-location {
            font-weight: bold;
          }
        }
        .user {
          clear: both;
          border-top: 50px solid rgba(0,0,0,0); 
          border: 5px solid red;
          .pictureView {
            float: left;
            margin-right: 5px;
          }
        }
      }
    }
  }
  
  /* same item & overlay when hovering */
  .item:hover, .item.active {
    .item-overlay {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  #pasteDroplet {
    width: 200px;
    height: 200px;
    background-color: rgba(150,150,150,0.4);
    input {
      padding: 0px;
      margin: 0px;
      outline: none;
      border: 0px;
      width: 1px;
      height: 1px;
      background-color: transparent;
      opacity: 0.001;
    }
  }

  #newGoodStuffItem {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    .container {
      width: 650px;
      margin: 80px auto;
      position: relative;
      background-color: rgba(0,0,0,0.5);
      box-shadow: 0px 0px 15px #000;
      border-radius: 15px;
    }
    .close-button {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      color: white;
      font-size: 2em;
      font-weight: bold;
      opacity: 0.7;
      &:hover { opacity: 1; }
    }
    #newGoodStuffItemForm > div {
      padding: 15px 100px;
    }
    .url {
      text-align: center;
    }
    .preview {
      position: relative;
      .arrow-left, .arrow-right {
        position: absolute;
        top: 80px;
        font-size: 2em; 
      }
      .arrow-left { left: 40px; }
      .arrow-right { right: 40px; }
    }
    .tags {
      & > div { /* 1 level div's within .tags */
        margin: 10px 0px; 
      }
      .tag {
        display: inline-block;
        cursor: pointer;
        border-radius: 2px;
        margin: 5px 8px 5px 8px;
        font-weight: bold;
        background-color: #CCC;
        color: #333;
      }
      .tag.active {
        background-color: #1466a8;
        font-weight: bold;
        color: #FFF;
      }
    }
    .item {
      width: auto;
    }
    .footer {
      text-align: right;
    }
  }

}