@import 'nib'


#goodStuff {

  .item {
    position: relative;
    margin-bottom: 6px; /* related to 'gutter' value in JS */
    overflow: hidden;

    .type-icon {
      position: absolute;
      z-index: 2;
      bottom: 8px;
      right: 8px;
      /*height: 24px;*/
    }

    .item-overlay {
      position: absolute;
      z-index: 1;
      top: 0px;
      left: 0px;
      display: block;
      min-height: 100%;
      min-width: 100%;
      background-color: rgba(0,0,0,0.8);
      transition: opacity 0.3s, transform 0.2s;
      transform: translateY(300px);
      opacity: 0;
      margin: 0px;

      .item-content {
        padding: 24px;
        color: white;
  
        .title {
          font-weight: bold;
          font-size: 1.6em;
          line-height: 1.3em;
          float: left;
          margin-right: 8px;
        }
        .subtitle {
          font-size: 1.6em;
          line-height: 1.3em;
          float: left;
        }
        .event {
          clear: both;
          .event-location {
            font-weight: bold;
          }
        }
        .price{
          position: absolute;
          bottom: 5px;
          left: 5px;
          background-color: rgba(126,180,219,0.7);
          border-radius: 2px;
          padding: 3px 6px 3px 6px;
          font-weight: bold;
        }
        .user {
          position: absolute;
          bottom: 5px;
          right: 40px;
        }
      }
    }
  }
  
  /* same item & overlay when hovering */
  .item:hover, .item.active {
    .item-overlay {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  #pasteDroplet {
    min-height: 142px;
    padding: 30px 0px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    font-size: 1.7em;
    line-height: 2em;
    border-top: 1px solid #828282;
    border-bottom: 1px solid #373737;
    input {
      padding: 0px;
      margin: 0px;
      outline: none;
      border: 0px;
      width: 1px;
      height: 1px;
      background-color: transparent;
      opacity: 0.001;
    }
  }

  #newGoodStuffItem {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    .container {
      width: 650px;
      margin: 80px auto;
      position: relative;
      background-color: rgba(0,0,0,0.6);
      border: 1px solid rgba(255,255,255,0.2);
      border-top: 1px solid rgba(255,255,255,0.15);
      border-bottom: 1px solid rgba(255,255,255,0.15);
    }
    .close-button {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      color: white;
      font-size: 2em;
      font-weight: bold;
      opacity: 0.7;
      &:hover { opacity: 1; }
    }
    .top{
      margin-top: -60px;
      margin-bottom: 60px;
    }
    #newGoodStuffItemForm > div {
      padding: 15px 100px;
    }
    .close-button{
      padding: 12px;
      margin: -12px;
    }
    .url {
      text-align: center;
      font-size: 12px;
    }
    .details{
      .input{
        background-color: rgba(0,0,0,0.7);
        color: #FFF;
        font-size: 1.35em;
        line-height: 1.6em;
        height: 1em;
        padding: 0.6em;
        padding-bottom: 1em;
        width: 42%;
        padding-top: 18px;
        padding-left: 18px;
        border-radius: 1px;
        border: 1px solid #FFF;

      }
    }
    .preview {
      position: relative;
      .item {
        height: 200px;
        background-color: rgb(60,60,60);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        .image { display: none; }
      }
      .arrow-left, .arrow-right {
        position: absolute;
        top: 70px;
        font-size: 2em;
      }
      .arrow-left { left: 12px; padding: 13px; }
      .arrow-right { right: 12px; padding: 13px; }
    }
    .tags {
      & > div { /* 1 level div's within .tags */
        margin: 10px 0px; 
      }
      .title{
      }
      .tag {
        display: inline-block;
        cursor: pointer;
        border-radius: 1px;
        padding: 4px 10px 4px 10px;
        margin: 0px 4px 8px 0px;
        background-color: rgba(255,255,255,0.25);
        color: #151b1f;
      }
      .tag.active {
        background: linear-gradient(#1582d9, #3892da); // top, bottom
        color: #d2eaf9;
        box-shadow: 0px 0px 15px rgba(180,222,247,0.35);
      }
    }
    .item {
      width: auto;
    }
    .footer {
      text-align: right;
    }
  }

}