@import 'nib'

#goodStuff {

  #goodStuffGrid {
    .item {
      margin: 2px;
      width: 24%;
      min-height: 220px;
      background-color: rgba(255,255,255,0.7);
      background-postion: center;
      background-size: cover;
      border-radius: 3px;
      overflow: hidden;

      .item-overlay {
        display: block;
        min-height: inherit;
        border-radius: inherit;
        background-color: rgba(0,0,0,0.8);
        transition: opacity 0.3s, transform 0.2s;
        transform: translateY(300px);
        opacity: 0;

        .item-content {
          padding: 15px;
          color: white;

          .title {
            font-weight: bold;
            font-size: 1.6em;
            float: left;
            margin-right: 8px;
            margin-bottom: 8px;
          }
          .price{
            font-weight: bold;
            float: right;
            background-color: rgba(126,180,219,0.7);
            border-radius: 2px;
            padding: 3px 6px 3px 6px;
          }
          .subtitle {
            font-size: 1.6em;
            float: left;
          }
          .description {
            margin: 1em 0px;
            clear: both;
            margin-top: 12px;
          }
          .event {
            clear: both;
            .event-location {
              font-weight: bold;
            }
          }
          .user {
            clear: both;
            margin: 20px 0px;
            .pictureView {
              float: left;
              margin-right: 5px;
            }
          }
        }
      }
    }
    
    /* same item & overlay when hovering */
    .item:hover {
      .item-overlay {
        transform: translateY(0px);
        opacity: 1;
      }
    }
  }

}