
<template name="userAvailableButtons">
  {{#if contains profile.available "drink"}}
  <a href="mailto:{{profile.email}}?subject=Lets drink something&body=My profile : {{UserProfileUrl}}" class="btn btn-inverse btn-opacity">have a drink</a>
  {{/if}}
  {{#if contains profile.available "lunch"}}
  <a href="mailto:{{profile.email}}?subject=Lets have lunch&body=My profile : {{UserProfileUrl}}" class="btn btn-inverse btn-opacity">have lunch</a>
  {{/if}}
  {{#if contains profile.available "email"}}
  <a href="mailto:{{profile.email}}?body=My profile : {{UserProfileUrl}}" class="btn btn-inverse btn-opacity">e-mail</a>
  {{/if}}
  {{#if contains profile.available "call"}}
    {{#if profile.phone}}
    <a href="call:{{profile.phone}}" class="btn btn-inverse btn-opacity">call</a>
    {{/if}}
    {{#if profile.skype}}
    <a href="skype:{{profile.skype}}" class="btn btn-inverse btn-opacity">skype</a>
    {{/if}}
  {{/if}}
  {{#if contains profile.available "cowork"}}
  <a href="mailto:{{profile.email}}?subject=Can I co-work at your place ?&body=My profile : {{UserProfileUrl}}" class="btn btn-inverse btn-opacity">co-work</a>
  {{/if}}
  {{#if contains profile.available "couchsurf"}}
  <a href="mailto:{{profile.email}}?subject=Can I couchsurf at your place ?&body=My profile : {{UserProfileUrl}}" class="btn btn-inverse btn-opacity">host traveling hackers</a>
  {{/if}}
</template>
