@import "nib"

/* STEVEN */

#steven{

  .container{
    max-width: 500px;
    margin-top: 20px;
    margin-left: 250px;
    float: left;
  }
  .ordercontainer{
    max-width: 500px;
    margin-top:20px;
    margin-left: 100px;
    float:left;
  }
  .selectorbuttons {
    color:black;
  }
    .orderedInterests {
   width: 300px;
   height: 250px;
   overflow-y:auto;
   border: 1px solid;
   line-height:150%;
  }
  
  .testbutton{
  margin-left: 25px;
  color:black;
  }
  
  .my-button{
  color:black;
  }
  

  
  .indiv_interests{
    margin-left: 40px;
  }
  
  .interestbox {
   width: 300px;
   height: 250px;
   overflow-y:auto;
   border: 1px solid;
   line-height:150%;
  }
  
  .interestfield, .count {
  
  }
  
  .interestfield {
    background-color: transparent;   
    padding-left:8px;
    display:inline-block;
    width:100%;
    cursor: pointer;
  }
  .interestfield:hover {
    background-color: #6699FF;
  }
  .interesthref:focus {
    outline-style: none;
  }
  .count {
    margin-left: 10px;
    font-style: italic;
    width:auto;
  }
  
  .cullMsg {
    font-style: italic;
    font-size: 70%;
  
  }
  
  .addInterest {
    float: right;
  }
}
