@import "nib"

$pagePaddingHeight = 20px;
$pagePaddingWidth = 40px;

.admin-layout {
  min-height: 100%;
  background-color: white;
  color: #444;

  /* admin page styling goes hee */

  .page {
    padding: $pagePaddingHeight $pagePaddingWidth; 
  }
  .page-space {
    height: 100px;
  }

  .header {
    padding: $pagePaddingHeight $pagePaddingWidth;
    a {
      display: inline-block;
      margin: 0px 5px;
      margin-bottom: 10px;
      &[active] {
        border-bottom: 1px solid gray;
      }
    }
  }

  




}






