@import 'nib'

/* INVITATIONS */

#invitations_partial{

  .slots{
    clear: both;

    .slot {
      float: left;
      margin-right: 12px;
      margin-bottom: 12px;
      margin-top: 8px;
      text-align: center;
    }

    /* classes .pictureView, .small, .empty, .unknow
       are defined within the .pictureView declaration
       elsewhere */

    .invitation-text {
      line-height: 28px;
      margin-left: 18px;
      float: left;
    }

    .area{
      margin-top: 0px;

    }

    a{
      margin: 0px;
    }

  }
}