@import 'nib'

/* INVITATIONS */

#invitations{

  .slots{
    margin-top: 24px;
    margin-bottom: 24px;
    float: left;
    clear: both;

    .slot {
      float: left;
      margin-right: 12px;
      text-align: center;
    }

    /* classes .pictureView, .small, .empty, .unknow
       are defined within the .pictureView declaration
       further in this file */

    .invitation-text { /* can't make this work, problem with selector ? */
      padding-top: 30px;
      clear: both;
    }

  }
}