.meetup-topics
    opacity:0.7

.meetup .row
    padding-bottom:15px

.meetup .btn
    background:transparent
    color:white
    border-width:2px
    border-color:white

.meetup .well
    background:rgba(0,0,0,0.15)
    border:0
    padding:5px
    float:left

.picture
    width:64px
    height:64px
    background-size: cover
    margin-right:15px
    float:left
    margin:5px

.meetup-maybe-going
    opacity:0.7
