#meetup
    .row
        padding-bottom:15px

    .btn
        background:transparent
        color:white
        border-color:white

    .well
        background:rgba(0,0,0,0.15)
        border:0
        padding:5px
        float:left

    .pictureView.small
        margin:5px
        float:left
