#meetup
    .row
        padding-bottom:15px

    .well
        background:rgba(0,0,0,0.15)
        border:0
        padding:5px
        float:left

    .pictureView.small
        margin:5px
        float:left

    .btn
        margin-right:10px
        border-radius:40px

    .btn-maybe, .btn-decline
        background:rgba(0,0,0,0.5)
        color:white
        border-color:white

