
@import "nib"

/* FRONTPAGE */

#frontpage {

  text-align: center;
  margin-top: 60px;

  h1, h2 {
    width: 100%;
  }
  h1 {
    color: #FFF;
    margin-bottom: 5px;
    font-size: 60px;
    letter-spacing: 0px;
    font-weight: 100;
    line-height: 140%;
  }
  h2 {
    color: #6D461D;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
  }

  /* #citySelect partially defined in main.styl */
  #citySelect select {
    margin: 0 auto;
    margin-bottom: 76px;
    font-size: 24px;
    line-height: 24px;
    height: 40px;
    width: 480px;
    font-weight: 100;
    letter-spacing: 2px;
    padding-left: 12px;
  }

  #cursor{
    font-weight: 100;
  }

  #target, .blink{
    color:#FFF;
    font-weight: 700;
  }

  .logo-large{
    height: 240px;
    width: 550px;
    margin: auto;
    margin-bottom: 20px;
    background: url('/img/logo.svg') no-repeat;
    background-size: 100%;
    border-left: 64px solid rgba(0,0,0,0);
  }

  .error {
    padding: 6px 24px 24px 24px;
    margin-bottom: 48px;
    margin-top: -48px;
    background-color: rgba(255,255,255,0.15);
    color: #fff;
    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  .frontpage-login{
    height: 100px;
    width: 850px;
    margin: auto;
    margin-bottom: 48px;
    margin-top: 0px;
    padding-left: 140px;
    line-height: 78px;
    vertical-align: top;
    border-left: 24px solid rgba(0,0,0,0);
    clear: both;
  }

  .social-logo{
    height: 78px;
    width: 181px;
    float: left;
    cursor: pointer;
  }

  .social-logo-line{
    border-right: 1px solid white;
  }

  .social-logo:hover{
    background-color: rgba(255,255,255,0.08);
  }

  .social-logo-facebook{
    background: url('/img/social-logo-facebook.svg') center no-repeat;
  }

  .social-logo-twitter{
    background: url('/img/social-logo-twitter.svg') center no-repeat;
  }

  .social-logo-github{
    background: url('/img/social-logo-github.svg') center no-repeat;
  }

  .frontpage-join-us{
    background: url('/img/join-us.svg') center no-repeat;
    height: 78px;
    width: 100px;
    margin-left: 12px;
    margin-top: -24px;
    float: left;
  }

  .city-twitter{
    font-size: 24px;
    margin-bottom: 48px;

  }

  .frontpage-headline{
    margin-top:32px !important;
    margin-bottom: 12px !important;
    font-size: 24px !important;
  }

  .invited-by-container{

    $speackBubbleBackground = rgba(255,255,255,0.15);

    margin: auto;
    margin-bottom: 40px;
    margin-top: -50px;
    width: 480px; 
    height: 180px;

      .speach-bubble{
        position: relative;
        width: 200px;
        height: 50px;
        padding: 24px;
        background: $speackBubbleBackground;
        color: #FFF;
        margin: auto;
        float: left;
        margin-left: 32px;
        margin-top: 42px;

        .larger{
          font-size: 1.8em;
          font-weight: 400;
          line-height: 32px;
          color: #fff;
          float: left;
          margin-bottom: 8px;
        }

        .name{
          float: right;
          color: #FFF;
          font-weight: 100;
          color: fff;
        }
       
      }.speach-bubble:after{

          content: '';
          position: absolute;
          border-style: solid;
          border-width: 15px 17px 15px 0;
          border-color: transparent $speackBubbleBackground;
          display: block;
          width: 0;
          z-index: 1;
          left: -17px;
          top: 34px;

      }
  }

  .ambassadors-container{
    display:inline-block;


    .ambassadors{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4px;
      width: auto;

      .hacker{
        float: left;
        .name{
          font-size: 24px;
          margin-top: 8px;
          margin-bottom: 4px;
        }
        .ambassador{
          font-weight: lighter;
          margin-bottom: 4px;
        }
        .action:after {
          content: ' • ';
        }
        .action:last-of-type:after {
          content: '';
        }
      }
    }
  }

}
