@import 'nib'

/* ABOUT */

#about{

  .container{
    width: 800px;
    margin-top: 250px;

    .before{
      line-height: 3em;
      font-size: 1.5em;
    }

    .content{

      background-color: rgba(0,0,0,0.55);
      font-size: 1.2em;
      line-height: 1.8em;
      padding: 64px 64px 48px 76px;
      margin: auto;
      
      .paragraph{

      }

    }

  }

}