html {
  height: 100%;
}
body {
  background: #84a3c0;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background: #000 url(/img/background.jpg) no-repeat center;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
  background-attachment:fixed;
  padding: 24px;  
}
.clear {
  clear: both;
}
.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto; 
}

a {
  text-decoration: none;
  color: #FFF;
  margin: 0px 2px 0px 2px;
}

a:hover{
  text-decoration: none;
  color: #1466a8;
  border-bottom: 2px dotted #1466a8;
  margin-bottom: -5px;
}

h1, h2 {
  width: 100%;
  float: left;
}
h1 {
  color: #333;
  margin-bottom: 5px;
  font-size: 60px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 180%;
}
h2 {
  color: #6D461D;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}



.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin: 0 auto 0;
  height: 120px; /* temporary fix */
}

.menu{
  float: left;
  clear: left;
  padding-top: 48px;
  font-size: 18px;
  font-weight: 700;
}

.content{
  margin-top: 48px;
}

.logo{
  float: left;
}



/* SOCIAL LOGIN*/

.header-social-container{
  float: right;
  margin-top: 20px;
  padding: 8px;
  padding-left: 14px;
  padding-top: 9px;
  background-color: rgba(255,255,255,1);
  color: #666;
}

a.header-social {
  text-decoration: none;
  color: #888;
  font-weight: 700;
  padding: 6px;
}

a.header-social:hover{
  text-decoration: none;
  color: black;
  border: 0px;
}

A IMG{
  text-decoration: none;
  border:0px;
}




#frontpage {
  text-align: center;
  margin-top: 260px;
}

#cursor{
  font-weight: 100;
}

#target{
  color:#FFF;
}



.picture {
  max-width: 200px;
}



.hacker{
  float:left;
  width: 260px;
  margin-bottom: 28px;
  text-align: center;
}

.hacker-picture {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  line-height: 180px;
  font-size: 90px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

  border:1px solid red;
  /*filter: url(filters.svg#grayscale);*/ /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  margin-bottom: 8px;
}

.hacker-picture:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  /*box-shadow: 0px 0px 7px rgba(0,0,0,0.4);*/
}

A.hackers-social{
  text-align: center;
}

.hackers-name{
  font-weight: 400;
  color: #222;
  font-size: 130%;
  line-height: 48px;
}


/* BEGIN input elements */

input.text {
  background: transparent;
  border: 1px dashed transparent;
  box-shadow: none;
  border-radius: 15px;
  padding: 3px 10px;
  color: white;
  margin-left: -11px;
  margin-top: 1px;
}
input.text:hover {
  border-color: white;
  background-color: rgba(255,255,255,0.1);
}
input.text:focus {
  border-style: solid;
  border-color: white;
  background-color: rgba(255,255,255,0.1);
}
input.text.saved {
  border-color: #aaeeaa;
  background-color: rgba(160,255,160,0.1);
}
input.text.invalid {
  border-color: orange;
}
input.text::-webkit-input-placeholder { /* WebKit browsers */ color: #bbb; }
input.text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #bbb; }
input.text::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #bbb; }
input.text:-ms-input-placeholder { /* Internet Explorer 10+ */ color: #bbb; }

label.checkbox{
  float: left;
  margin-right: 32px;
  padding-top: 5px;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 1px #777;
}

.control-label{
  font-weight: 700;
}

.change{
  line-height: 60px;
}


.imputPictureRadio{
  visibility: hidden;
}

/* END input elements */


.pictureView {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: white;
  margin: auto;
}