
html {
  height: 100%;
}
body {
  background: #84a3c0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background: #000 url(/img/background.jpg) no-repeat center;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
  background-attachment:fixed;
  padding: 24px;  

}

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto; 
}

a {
  text-decoration: none;
  color: #FFF;
  margin: 0px 2px 0px 2px;
}

a:hover{
  text-decoration: none;
  color: yellow;
  border-bottom: 2px dotted yellow;
  margin-bottom: -5px;
}

h1, h2 {
  width: 100%;
  float: left;
}
h1 {
  color: #333;
  margin-bottom: 5px;
  font-size: 60px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 180%;
}
h2 {
  color: #6D461D;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 10px;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin: 0 auto 0;
  height: 120px; /* temporary fix */
}

.menu{
  float: left;
  clear: left;
  padding-top: 48px;
  font-size: 18px;
  font-weight: 700;
}

.content{
  bottom: 0;
  height: 300px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 900px;
}

.logo{
  float: left;
}

.facebook-connect{
  float: right;
  margin-top: 20px;
}

#cursor{
  font-weight: 100;
}

#target{
  color:#FFF;
}


#skills ul {
  list-style-type: none;
  float: left;
  display: inline;
  margin: 0px;
}
.skill {
  color: #333;
  text-align: left;
  padding: 4px;
  font-weight: 700;
  float: left;
}
.skill:hover {
  color: black;
}
.skill .text {
  padding: 2px 12px 2px 12px;
  background-color: rgba(225,225,225, 0.2);
  border-radius: 12px;
}
.skill .rollover {
  visibility: hidden;
  float: left;
  background-color: rgba(0,0,0, 0.8);
}
.skill:hover .rollover {
  visibility: visible;
}
.toggle-favorite, .toggle-skill {
  cursor: pointer;
  background-color: rgba(0,0,0, 0.5);
}

