
@import "nib"

/* FRONTPAGE */

#loginButtons {

  text-align: center;
  margin-top: 60px;


  .error {
    padding: 6px 24px 24px 24px;
    margin-bottom: 28px;
    margin-top: -48px;
    background-color: rgba(255,255,255,0.15);
    color: #fff;
    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  .login-buttons {
    height: 100px;
    width: 700px;
    margin: auto;
    padding-left: 140px;
    line-height: 78px;
    vertical-align: top;
    border-left: 24px solid rgba(0,0,0,0);
    clear: both;
  }

  .social-logo{
    height: 78px;
    width: 181px;
    float: left;
    cursor: pointer;
  }

  .social-logo-line{
    border-right: 1px solid white;
  }

  .social-logo:hover{
    background-color: rgba(255,255,255,0.08);
  }

  .social-logo-facebook{
    background: url('/img/social-logo-facebook.svg') center no-repeat;
  }

  .social-logo-twitter{
    background: url('/img/social-logo-twitter.svg') center no-repeat;
  }

  .social-logo-github{
    background: url('/img/social-logo-github.svg') center no-repeat;
  }

  .join-us{
    background: url('/img/join-us.svg') center no-repeat;
    height: 78px;
    width: 100px;
    margin-left: 12px;
    margin-top: -24px;
    float: left;
  }


}